 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     <link rel="stylesheet" href="/CSS/style.css">
 </head>
 <body>
     <nav class="navbar ">
         <h1 class="logo">
              SAVE GIRL CHILD
         </h1>
         <ul class="nav-links" >
             <li class="active" style="color: #fc036b;"><a href="#" style="color: #fc036b; text-decoration: underline;">Home</a></li>
             <li><a href="#Gallery">Our Gallery</a></li>
             <li><a href="#explore">Explore</a></li>
             <!-- <li><a href="">About</a></li> -->
             <li class="ctn"><a href="/contact" target="_blank">Contact</a></li>
          
             
         </ul>
         <img src="/images/img/menu-btn.png" alt="" class="menue-btn">
     </nav>
     
     <header> 
    <div class="content">
        <h2>Girls are Angles save them</h2>
        <div class="line">
             
       
        </div>
        <h1>
            wonderful gift
        </h1>
         <form action="/pay">
        
        </form>
        <a href="/pay" class="ctn" target="_blank">Donate</a>

    </div> 
</header>
<!-- Events -->

<section class="events">
     <div class="title" id="explore">
         <h1 style="color: rgb(74, 74, 134);" >EXPLORE</h1>
         <div class="line"></div>
        </div>
         <div class="row">
             <div class="col">
         <img src="/images/img/img1.jpg" alt="">
         <h4 style="color: rgb(74, 74, 134);">Beti bachao foundation </h4>
         <p style="color: rgb(74, 74, 134);"">Beti bachao foundation is the mission to save the girl child in india saving girl child who are having a major problems such has suffering from many major diseases</p>
        <a href="https://www.betibachaofoundation.org/about.php" class="ctn">Learn more</a>    
        </div>
        <div class="col">
            <img src="/images/img/img33.jpg" alt="">
            <h4 style="color: rgb(74, 74, 134);"> Smile Foundation</h4>
            <p style="color: rgb(74, 74, 134);">
                Smile Foundation has collaborated with Save the Children India and its counterpart from the Netherrland. Save the Children is the world’s leading independent organization for children that works to inspire breakthroughs in the way the world treats children to achieve immediate and lasting change in their lives.</p>
           <a href="https://www.smilefoundationindia.org/i_a_save_the_children.html" class="ctn">Learn more</a>    
           </div>
   
          
     </div>
     <section class="explore">

          <div class="explore-content">
            <h1 style="color: rgb(74, 74, 134);">Explore the world</h1>
            <div class="line"></div>
            <p style="color: rgb(74, 74, 134);">Girls are pillars of society. Continuation of life is not possible without them. A small girl child can be a good daughter, a sister, a wife and a mother in the future. If we kill the girls before birth or do not take care of them after birth then we will not get a loving daughter, sister, wife or mother in the future.</p>
           <a href="" class="ctn">Learn More</a>
          </div>
        </section>
</section>
<section class="tours">

    <div class="row">
<div class="col content-col" id="Gallery">
    <h1 style="color: rgb(74, 74, 134);">OUR GALLERY</h1>
    <div class="line"></div>
    <p style="color: rgb(74, 74, 134);">We are human beings, brought into this beautiful planet by a woman. A woman is a superior power that creates the world directly or indirectly. It is our sole responsibility as a human being to respect women to the extent they deserve.</p>
    <a href="#" class="ctn"> Learn more</a>
</div>
<div class="col image-col">
    <div class="image-gallery">
        <img src="/images/img/img3.jpg" alt="">
        <img src="/images/img/img4.jpg" alt="">
        <img src="/images/img/img5.jpg" alt="">
        <img src="/images/img/img6.jpg" alt="">
        <img src="/images/img/img7.jpg" alt="">
    </div>
</div>
    </div>
</section>


<section class="footer">
    <p> 182 jagatpuri old shivli road kalyanpur kanpur</p>
  <p> Copyright Ritu@2021</p>
</section>
    <script>
        const menu=document.querySelector(".menue-btn");
       const nav=document.querySelector(".nav-links");
       menu.addEventListener("click",()=>{
           nav.classList.toggle('mobile-menu');
       })
   </script>
 </body>
 </html>